<% @users.each do |person| %>
<p><%= person.name %></p>
<p><%= person.college %>  <%= person.year %></p>
<p><%= person.email %></p>
<p><%= person.location %></p>
<p><%= person.availabletime %></p>
<p><%= person.description %></p>
<p><%= person.type_user %></p>
<% end %>