<%= form_tag('/users', method: :get) do %>

<h2>Location</h2>
<%= label_tag 'Central Campus' %>
<%= check_box_tag 'place', 'Central Campus' %>
<%= label_tag 'West Campus' %>
<%= check_box_tag 'place', 'West Campus' %>
<%= label_tag 'Downtown' %>
<%= check_box_tag 'place', 'Downtown' %>
<%= label_tag 'East Rock' %>
<%= check_box_tag 'place', 'East Rock' %>

<h2>Walker or Owner</h2>
<%= label_tag 'Walker' %>
<%= check_box_tag 'type_user', 'walker' %>
<%= label_tag 'Owner' %>
<%= check_box_tag 'type_user', 'owner' %>
<br>
<%= submit_tag "Search" %>
<% end %>

<table>
<tr>
	<td>Name</td>
	<td>Email</td>
	<td>Description</td>
	<td>Walker or Owner</td>
</tr>
<% @users.each do |person| %>
<tr>
<td><%= person.name %></td>
<td><%= person.email %></td>
<td><%= person.description %></td>
<td><%= person.type_user %></td>
<% end %>
</table>

