<%= form_tag('/users', method: :get) do %>

<%= label_tag 'Walker' %>
<%= check_box_tag 'type_user', 'walker' %>
<%= label_tag 'Owner' %>
<%= check_box_tag 'type_user', 'owner' %>
<br>
<%= submit_tag "Search" %>
<% end %>

<table>
<tr>
	<td>Name</td>
	<td>Email</td>
	<td>Description</td>
	<td>Walker or Owner</td>
	<td>Places</td>
</tr>
<% @users.each do |person| %>
<tr>
<td><%= link_to person.name, person %></td>
<td><%= person.email %></td>
<td><%= person.description %></td>
<td><%= person.type_user %></td>
<td><% person.places.each do |f| %>
<p><%= f.name %></p>
<% end %></td>
<% end %>
</table>

