<%= form_tag('/users', method: :get) do %>

<%= label_tag :places %>
<%= select_tag 'place_set', options_from_collection_for_select(Place.all, 'id', 'name',@user.places.map{ |j| j.id }), :multiple => true %>

<h2>Walker or Owner</h2>
<%= label_tag 'Walker' %>
<%= check_box_tag 'type_user', 'walker' %>
<%= label_tag 'Owner' %>
<%= check_box_tag 'type_user', 'owner' %>
<br>
<%= submit_tag "Search" %>
<% end %>

<table>
<tr>
	<td>Name</td>
	<td>Email</td>
	<td>Description</td>
	<td>Walker or Owner</td>
</tr>
<% @users.each do |person| %>
<tr>
<td><%= person.name %></td>
<td><%= person.email %></td>
<td><%= person.description %></td>
<td><%= person.type_user %></td>
<% end %>
</table>

