<table>
<tr>
	<td>Name</td>
	<td>Email</td>
	<td>Location</td>
	<td>Available Time</td>
	<td>Description</td>
	<td>Walker or Owner</td>
</tr>
<% @users.each do |person| %>
<tr>
<td><%= person.name %></td>
<td><%= person.email %></td>
<td><%= person.location %></td>
<td><%= person.availabletime %></td>
<td><%= person.description %></td>
<td><%= person.type_user %></td>
<% end %>
</table>