<h1>Show</h1>
<p><%= @user.name %></p>
<p><%= @user.college %></p>
<p><%= @user.year %></p>
<p><%= @user.netid %></p>
<p><%= @user.email %></p>
<% @user.places.each do |f| %>
<p><%= f.name %></p>
<% end %>
<% @user.weekdays.each do |f| %>
<p><%= f.name %></p>
<% end %>
<% @user.openings.each do |f| %>
<p><%= f.name %></p>
<% end %>
<p><%= @user.description %></p>
<p><%= @user.type_user %></p>