<h1>Show</h1>
<p><%= @me.name %></p>
<p><%= @me.college %></p>
<p><%= @me.year %></p>
<p><%= @me.netid %></p>
<p><%= @me.email %></p>
<% @me.places.each do |f| %>
<p><%= f.name %></p>
<% end %>
<% @me.weekdays.each do |f| %>
<p><%= f.name %></p>
<% end %>
<% @me.openings.each do |f| %>
<p><%= f.name %></p>
<% end %>
<p><%= @me.description %></p>
<p><%= @me.type_user %></p>