<h1>Show</h1>
<p><%= @me.name %></p>
<p><%= @me.college %></p>
<p><%= @me.year %></p>
<p><%= @me.netid %></p>
<p><%= @me.email %></p>
<p><%= @me.location %></p>
<p><%= @me.availabletime %></p>
<p><%= @me.description %></p>